<h1 style="margin-left:10rem;font-weight: bold;">Space X Launch Programs</h1>

<h2 style="text-align: center;">Developed By: Lavanya</h2>

<div class="flex-container">
  <div class="card mat-elevation-z1">
<div style="display: flex;flex-flow:row;align-content: space-between;cursor: pointer;">
  <h4> <b>Filters</b></h4>
  <mat-icon (click)="resetFilter()" style="margin-left:8.5rem;">refresh</mat-icon>
</div>
    <h3> Launch Year</h3>
<div class="first">
  
  <div *ngFor="let u of years" >
    <div ><button [ngClass]="year==u ? 'active' : ''" (click)="selectYear(u)"  mat-raised-button>{{u}}</button></div>
  </div>
</div>
  <div >
    <h3>Successful Landing</h3>
    <button mat-raised-button (click)="selectLand('istrue')" [ngClass]="land=='istrue'? 'active' : ''">True</button>&nbsp;&nbsp;
    <button mat-raised-button (click)="selectLand('isfalse')" [ngClass]="land=='isfalse'? 'active' : ''">False</button>
  </div>
    <h3>Successful Launch</h3>
    <button mat-raised-button (click)="selectLaunch('istrue')" [ngClass]="launch=='istrue'? 'active' : ''">True</button>&nbsp;&nbsp;
    <button mat-raised-button (click)="selectLaunch('isfalse')" [ngClass]="launch=='isfalse'? 'active' : ''">False</button>
  </div>
  <div>
  <div class="second">
    <div *ngFor="let c of users;let i=index" class="card2 mat-elevation-z1">
      <div>
        <img src="{{c.links.mission_patch}}" alt="" height="100px">     
      <h4 style="color:blue">{{c.mission_name}} # {{c.flight_number}}</h4>
      <h4>Mission Ids: <span>{{c.mission_id}}</span></h4>
      <h4>Launch Year: <span> {{c.launch_year}}</span></h4>
      <h4>Successful Launch: <span>{{c.launch_success}}</span></h4>
      <h4>Successful Landing: <span>{{c.launch_success}}</span></h4>
    </div>
      <div> 
      </div>
    </div>
  </div>
  </div>
</div>

<!-- <div class="user-area">
  <div class="mat-elevation-z1" *ngFor="let user of users">
    <span>{{user.launch_year}}</span><br>
    <b>{{user.mission_name}}</b> &nbsp; <b>{{user.launch_success}}</b><br>

  </div>
</div> -->